.loading-screen{
	height: 100vh;
	width: 100%;
	left: 0;
	right: 0;
	background: #fff;	
	position: fixed;
	top: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items:center;
	flex-direction: column;
	z-index: 9999;
}

.loading-text{
	color: #868788;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-top: 15px;
	font-weight: bold;
	font-size:18px;
}

.dashboard-body .loading-screen{
	width: calc(100% - 220px);
    right: 0;
    left: auto;
}

.dashboard-body.visible .loading-screen{
	width: calc(100% - 70px);
}